.section {
    width: 100%;
}

.section-container {
    width: 100%;
    height: 100%;
    padding: 0 80px;
}

.section-container.full-width {
    padding: 0 0;
}

.section-title {
    width: 100%;
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;
    color: #424242;
    padding-top: 78px;
}

.section-title.full-width {
    padding-left: 80px;
    padding-right: 80px;
}

.section-content {
    width: 100%;
    height: 100%;
    padding-top: 35px;
}

@media screen and (max-width: 680px) {
    .section-container {
        padding-left: 60px;
        padding-right: 60px;
    }

    .section-title {
        text-align: center;
        padding-top: 56px;
        padding-left: 0;
        padding-right: 0;
    }

    .section-title.full-width {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 280px) {
    .section-title {
        font-size: 24px;
        padding-top: 36px;
    }

    .section-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .section-content {
        padding-top: 18px;
    }
}
